* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(113, 236, 220);
}

.container {
  width: 40%;
  height: 60vh;
  background-color: #022b3a;
  padding: 15px;
  display: block;
  border: 2px solid white;
  margin: 10vh auto;
  align-self: center;
  border-radius: 10px;
  box-shadow: 5x 10px 20px black;
  font-family: serif;
}

h1 {
  font-family: cursive;
  font-weight: 800;
  font-size: 3rem;
  color: black;
  text-align: center;
}

.screen {
  height: 10vh;
  background-color: #2a2e45;
  border: solid 2px black;
  border-radius: 5px;
  font-size: medium;
  color: white;
  width: 100%;
  cursor: default;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.number:hover,
.equal:hover,
.operator:hover,
.clear:hover {
  transition: 0.2s ease-in;
  background-color: #7fd8be;
  color: white;
  transform: scale(1.04);
}

.operator:hover {
  background-color: #7fd8be;
}

input[type="text"] {
  width: 96%;
}

input[type="button"]:active {
  background-color: #e9806e;
}

.operator,
.clear,
.equal {
  background-color: #7edbf7;
  padding: 5px;
  color: black;
  border: 2px solid black;
  width: 100%;
  height: 10vh;
  cursor: pointer;
  font-size: 2.5rem;
}

.number {
  background-color: hsl(350, 37%, 76%);
  border-radius: 5px;
  padding: 5px;
  height: 10vh;
  color: black;
  border: 2px solid black;
  width: 100%;
  cursor: pointer;
  font-size: 2.5rem;
}

.clear {
  background-color: #f6c28b;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  height: 13vh;
  margin-left: 2px;
}

.clear:hover {
  background-color: #ab2346;
}

.equal {
  background-color: hsla(118, 42%, 54%, 0.822);
}

.equal:hover {
  background-color: #01baef;
}
table {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  height: 5vh;
  font-family: cursive;
}

footer a {
  text-decoration: none;
  color: #1f2041;
}

footer a:hover {
  transform: scale(1.03);
  color: #381d2a;

  transition: 0.2s ease-in-out;
  font-weight: 700;
}

img {
  margin: 0 2vw;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

footer a img:hover {
  transform: scale(1.02);
}
